name: CI

on:
  push:
    branches: ["master"]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci
      - name: Generate Prisma Client
        run: npm run prisma:generate


      - name: Lint
        run: npm run lint

      - name: Unit tests
        run: npm run test -- --runInBand

      - name: E2E tests
        run: npm run test:e2e -- --runInBand

      - name: Build
        run: npm run build
